/*****************************************************************************************************************

 RESET 

 *****************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/*****************************************************************************************************************

 FONTS 

 *****************************************************************************************************************/
/*****************************************************************************************************************

 VARIABLES 

 *****************************************************************************************************************/
/*****************************************************************************************************************

 GLOBAL 

 *****************************************************************************************************************/
body {
  background: #fcfcfc;
  color: #093340;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

.middle {
  max-width: 1400px;
  margin: 0 auto;
  padding: 3em;
}

@media all and (max-width: 720px) {
  .middle {
    padding: 1em;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

p {
  line-height: 1.5em;
}

strong {
  font-weight: bold;
}

a {
  color: #1586aa;
  text-decoration: none;
  transition: all ease-out 150ms;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/*****************************************************************************************************************

 MAIN NAVIGATION 

 *****************************************************************************************************************/
.main-nav {
  background: #fcfcfc;
}
.main-nav .middle {
  overflow: hidden;
}
.main-nav h1 {
  width: 42px;
  height: 64px;
  float: left;
  background: url(images/logo.svg);
}
.main-nav h1 a {
  display: block;
  height: inherit;
  color: rgba(0, 0, 0, 0);
}
.main-nav nav {
  float: right;
  padding: 20px 0;
}
.main-nav nav a {
  color: #191b1d;
  font-size: 0.875em;
  text-transform: uppercase;
  display: block;
  float: left;
  height: 20px;
  padding: 0 2px;
  margin: 0 0 0 72px;
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.main-nav nav a:hover {
  color: #1586aa;
  border-bottom: 2px solid #1586aa;
}

@media all and (max-width: 720px) {
  .main-nav .middle {
    text-align: center;
    padding: 2em 0;
  }
  .main-nav h1 {
    display: inline-block;
    padding: 2em 0 0;
    float: none;
  }
  .main-nav nav {
    float: none;
    padding: 2em 2em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
  }
  .main-nav nav a {
    float: none;
    display: inline-block;
    margin: 0;
  }
}
/*****************************************************************************************************************

 FOOTER

 *****************************************************************************************************************/
footer {
  background: #f8f8f8;
  font-size: 0.75em;
  padding: 6em 1em;
}
footer .copyright {
  float: left;
}
footer .scrollTop {
  float: right;
  padding: 0 2.5em 0 0;
  display: block;
  background: url(images/up.svg) no-repeat right center;
}

/*****************************************************************************************************************

 CONTENT

 *****************************************************************************************************************/
.hero {
  background: #e0e4e4 no-repeat center;
  background-size: cover;
  height: 720px;
}
.hero .middle {
  position: relative;
  height: inherit;
}

@media all and (max-width: 720px) {
  .hero {
    height: 400px;
  }
}
.plex {
  background-image: url(plex-media-player/images/hero-bg.png);
}

.mummies {
  background-image: url(mummies/images/hero-bg.png);
}

.showpal {
  background-image: url(showpal/images/hero-bg.png);
}

.chroma {
  background-image: url(chroma-ds/images/hero-bg.png);
}

.qvc {
  background-image: url(qvc/images/hero-bg.png);
}

.nature {
  background-image: url(future-nature/images/hero-bg.png);
}

.title {
  background: rgba(250, 250, 250, 0.9);
  position: absolute;
  left: 1em;
  bottom: 40px;
  width: 440px;
  padding: 1.2em 1.5em 1em;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 2em;
}
.title span {
  display: block;
  font-size: 0.6em;
  line-height: 1.8em;
  font-weight: 300;
  color: #444;
}

@media all and (max-width: 720px) {
  .title {
    padding: 1em;
    font-size: 1.5em;
    width: auto;
    left: 0.5em;
    bottom: 20px;
  }
}
.claim {
  background: #ececf0;
  padding: 1.5em 0;
  font-size: 1.2em;
}

@media all and (max-width: 720px) {
  .claim {
    font-size: 1em;
  }
}
.sepStart {
  margin: 4em 0 0;
}

.sepEnd {
  margin: 0 0 4em;
}

.grid {
  display: grid;
  grid-template-columns: 360px 1fr;
  column-gap: 40px;
}

@media all and (max-width: 960px) {
  .grid {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
.hilite {
  background: #ececf0;
}

.button {
  background: #1586aa url("images/arrow-right.svg") 16px center no-repeat;
  background-size: 16px;
  color: #FFF;
  display: inline-block;
  padding: 1em 2em 1em 3.5em;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

.button:hover {
  text-decoration: none !important;
  background-color: #072836;
}

.block {
  padding: 3em 0;
}
.block .copy {
  z-index: 10;
}
.block .copy h3 {
  color: #282828;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: 400;
}
.block .copy p {
  color: #3a4952;
  font-size: 1em;
  padding: 2em 0 0;
  font-weight: 300;
}
.block .copy ul {
  background: #f1f3f4;
  padding: 1em 1em 1em 2em;
  margin: 1em 0 0;
  list-style: square outside;
}
.block .copy ul li {
  padding: 0.25em 0;
}
.block .copy ul li span {
  font-size: 0.8em;
}
.block figure img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.block figure figcaption {
  background: #ececf0;
  letter-spacing: 0.4px;
  font-size: 0.75em;
  border-radius: 3px;
  padding: 1em 1.5em;
  margin: -2px 0 0;
  z-index: 10;
  position: relative;
  float: right;
}

@media all and (max-width: 960px) {
  .block {
    padding: 1em 0 0;
  }
  .block .copy {
    width: 80%;
    margin: 0 auto 2em;
  }
}
@media all and (max-width: 720px) {
  .block {
    padding: 1em 0;
  }
  .block .copy {
    width: auto;
  }
  .block .copy h3 {
    font-size: 1.2em;
  }
  .block .copy p {
    font-size: 1em;
  }
  .block .copy ul {
    font-size: 1em;
  }
}
.chase {
  background: url("plex-media-player/images/chase.gif") no-repeat top;
  background-size: 100%;
  border-radius: 4px;
}

iframe {
  width: 100%;
  height: 640px;
}

@media all and (max-width: 960px) {
  iframe {
    height: 480px;
  }
}
@media all and (max-width: 720px) {
  iframe {
    height: 320px;
  }
}
/*****************************************************************************************************************

 IMAGE GALLERY

 *****************************************************************************************************************/
.gallery {
  background: #283033;
  padding: 4em 0;
}
.gallery figure img {
  width: 100%;
  height: auto;
}
.gallery figure figcaption {
  text-align: center;
  padding: 16px 0;
  color: #FFF;
  font-size: 1em;
}

@media all and (max-width: 720px) {
  .gallery {
    padding: 2em 0;
  }
  .gallery figure figcaption {
    padding: 16px 0 40px;
    font-size: 0.75em;
  }
}
.bx-wrapper {
  position: relative;
}

.bx-default-pager {
  position: relative;
  text-align: center;
  padding: 1em 0 0;
}

.bx-pager-item {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0 4px;
  background: #3c7783;
  overflow: hidden;
}
.bx-pager-item a {
  display: block;
  width: 10px;
  height: 10px;
  font-size: 0;
}

.bx-pager-item .active {
  background: #badbe9;
}

.bx-controls-direction a {
  top: 42%;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 40px;
  display: block;
  font-size: 0;
}
.bx-controls-direction .bx-prev {
  left: 16px;
  background: rgba(255, 255, 255, 0.9) url("images/chevron-left.svg") 9px center no-repeat;
  background-size: 16px;
}
.bx-controls-direction .bx-next {
  right: 16px;
  background: rgba(255, 255, 255, 0.9) url("images/chevron-right.svg") 11px center no-repeat;
  background-size: 16px;
}

/*****************************************************************************************************************

 INDEX

 *****************************************************************************************************************/
.hero-home {
  background: url(images/bg-home.png) no-repeat center;
  background-size: cover;
  height: 720px;
}
.hero-home .middle {
  position: relative;
  height: inherit;
}
.hero-home p {
  position: absolute;
  bottom: 5em;
  left: 2em;
  font-size: 2em;
  color: #FFF;
  font-weight: 200;
  width: 50%;
}

@media all and (max-width: 960px) {
  .hero-home {
    height: 480px;
  }
  .hero-home p {
    font-size: 1.5em;
    width: 50%;
  }
}
@media all and (max-width: 720px) {
  .hero-home {
    height: 400px;
  }
  .hero-home p {
    bottom: 3em;
    left: 1em;
    font-size: 1.25em;
    width: 80%;
  }
}
/*****************************************************************************************************************

 ABOUT ME

 *****************************************************************************************************************/
.about .grid {
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.me {
  background: #E9E9E9 url(about/images/bg.png) no-repeat right center;
  background-size: contain;
}

@media all and (max-width: 720px) {
  .me {
    background: #E9E9E9;
  }
}
.icons {
  background: red;
  background: url(about/images/disciplines.svg) no-repeat center;
  background-size: contain;
}

@media all and (max-width: 960px) {
  .about .grid {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .icons:nth-of-type(1) {
    order: 2;
  }
}
/*****************************************************************************************************************

 WORK

 *****************************************************************************************************************/
.grid-container {
  background: #ececf0;
  padding: 2em 0 8em;
}

.grid-work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

@media all and (max-width: 960px) {
  .grid-work {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 40px;
  }
}
.work-item {
  border-radius: 4px;
}
.work-item .frame {
  height: 280px;
  overflow: hidden;
}
.work-item .pic {
  transition: all 0.2s ease-out;
  display: block;
  height: inherit;
  background-position: center;
  background-size: cover;
}
.work-item .info {
  padding: 1.5em 1em;
}
.work-item .info h4 {
  font-size: 1.2em;
  font-weight: 400;
}
.work-item .info p {
  font-weight: 200;
  color: #666;
}
.work-item a {
  display: block;
  text-decoration: none;
  background: #f8f8f8;
}
.work-item a:hover {
  background: white;
}
.work-item a:hover .pic {
  transform: scale(1.05);
}

@media all and (max-width: 960px) {
  .work-item .frame {
    height: 320px;
  }
}
@media all and (max-width: 720px) {
  .work-item .frame {
    height: 200px;
  }
}
/*****************************************************************************************************************

 MOTION

 *****************************************************************************************************************/
.video {
  background: #1a1a1e;
}
.video p {
  padding: 2em 0 0em;
  color: #e4e4e4;
}

video {
  border-radius: 4px;
  width: 100% !important;
  height: auto !important;
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

@media all and (max-width: 720px) {
  .col2 {
    grid-template-columns: 1fr;
    column-gap: 0px;
  }
}
