/****************************************************************************************************************************

	IMPORTS

****************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400..700&display=swap");
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  min-height: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style-position: inside;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

/****************************************************************************************************************************

	VARIABLES

****************************************************************************************************************************/
/****************************************************************************************************************************

	THE GRID

****************************************************************************************************************************/
.col1 {
  width: 5.3333333333%;
  float: left;
}

.col2 {
  width: 13.6666666667%;
  float: left;
}

.col3 {
  width: 22%;
  float: left;
}

.col4 {
  width: 30.3333333333%;
  float: left;
}

.col5 {
  width: 38.6666666667%;
  float: left;
}

.col6 {
  width: 47%;
  float: left;
}

.col7 {
  width: 55.3333333333%;
  float: left;
}

.col8 {
  width: 63.6666666667%;
  float: left;
}

.col9 {
  width: 72%;
  float: left;
}

.col10 {
  width: 80.3333333333%;
  float: left;
}

.col11 {
  width: 88.6666666667%;
  float: left;
}

.col12 {
  width: 97%;
  float: left;
}

.col1:before, .col1:after {
  height: 10px;
  content: "";
  display: block;
}

.col2:before, .col2:after {
  height: 10px;
  content: "";
  display: block;
}

.col3:before, .col3:after {
  height: 10px;
  content: "";
  display: block;
}

.col4:before, .col4:after {
  height: 10px;
  content: "";
  display: block;
}

.col5:before, .col5:after {
  height: 10px;
  content: "";
  display: block;
}

.col6:before, .col6:after {
  height: 10px;
  content: "";
  display: block;
}

.col7:before, .col7:after {
  height: 10px;
  content: "";
  display: block;
}

.col8:before, .col8:after {
  height: 10px;
  content: "";
  display: block;
}

.col9:before, .col9:after {
  height: 10px;
  content: "";
  display: block;
}

.col10:before, .col10:after {
  height: 10px;
  content: "";
  display: block;
}

.col11:before, .col11:after {
  height: 10px;
  content: "";
  display: block;
}

.col12:before, .col12:after {
  height: 10px;
  content: "";
  display: block;
}

.row {
  overflow: hidden;
}

/****************************************************************************************************************************

	STYLES

****************************************************************************************************************************/
html {
  background: #CBCFD0;
  font-family: "Instrument Sans", serif;
  font-style: normal;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/****************************************************************************************************************************

	INTRO

*/
#intro .wrapper {
  padding: 120px 40px 400px;
  position: relative;
}
#intro .logo {
  height: 88px;
  width: 60px;
  background: url("images/logo-lh.svg") no-repeat center;
  background-size: cover;
  margin-bottom: 120px;
  overflow: hidden;
  text-indent: -1000px;
}
#intro .logo a {
  display: block;
  width: inherit;
  height: inherit;
}
#intro h2 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 52px;
  width: 780px;
  margin-bottom: 80px;
}
#intro h2 span {
  display: block;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 0px;
}
#intro .info {
  font-size: 23px;
  max-width: 528px;
  width: 48%;
  line-height: 36px;
}
#intro .info p {
  padding: 0 0 40px;
}
#intro .carousel {
  width: 480px;
  height: 988px;
  position: absolute;
  right: 80px;
  bottom: -240px;
}
#intro .carousel .device {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: inherit;
  width: inherit;
  background: url("images/iphone.png") no-repeat center;
  background-size: cover;
  filter: drop-shadow(0px -4px 32px rgba(0, 0, 0, 0.6));
}
#intro .carousel .app-window {
  position: absolute;
  top: 17px;
  left: 23px;
  height: 948px;
  width: 436px;
  border-radius: 52px;
  overflow: hidden;
  z-index: 10;
}
#intro .carousel .app-fixed {
  position: absolute;
  left: 0;
  top: 0;
  height: 108px;
  width: 436px;
  background: url("images/app-content.png") no-repeat top center;
  background-size: cover;
}
#intro .carousel #app-content {
  height: 1440px;
  width: 436px;
  background: url("images/app-content.png") no-repeat top center;
  background-size: cover;
  margin-top: -1px;
}

/****************************************************************************************************************************

	WORK

*/
#work .wrapper {
  padding: 80px 40px 80px;
  position: relative;
}
#work .description {
  float: right;
  width: 48%;
  color: #FFFFFF;
}
#work .description p {
  font-size: 20px;
  line-height: 32px;
  padding-top: 40px;
}
#work .title {
  font-size: 44px;
  border-bottom: 1px solid #fff;
}
#work .work-sample {
  position: relative;
  height: 1200px;
}
#work .work-sample img {
  width: 90%;
  position: absolute;
  left: -15%;
  bottom: 0;
}
#work .case-list {
  padding: 80px 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: stretch;
}
#work .case a {
  height: 400px;
  padding: 24px 16px;
  background: #2D3639;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#work .case h2 {
  color: #FFF;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}
#work .case p {
  color: #6BBCCC;
  font-size: 20px;
  line-height: 32px;
}

/****************************************************************************************************************************

	EXPERIENCE

*/
#experience {
  /*background: #5E6A6E;*/
}
#experience .wrapper {
  padding: 240px 40px 240px;
  position: relative;
  overflow: hidden;
}
#experience .description {
  width: 46%;
  color: #FFFFFF;
}
#experience .description p {
  font-size: 20px;
  line-height: 32px;
  padding-top: 40px;
}
#experience .title {
  font-size: 44px;
  border-bottom: 1px solid #fff;
}
#experience .companies {
  padding: 40px 0 0;
}
#experience .company {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 8px;
  align-items: stretch;
  box-sizing: border-box;
  background: rgba(54, 62, 67, 0.4);
  border-radius: 16px;
  padding: 48px 32px 48px 16px;
  overflow: hidden;
  margin: 40px 0 40px;
}
#experience .company h1 {
  height: 80px;
  background: no-repeat center -12px;
  background-size: 180px;
  text-indent: -2000px;
}
#experience .company .details {
  position: relative;
}
#experience .company h2 {
  color: #6BBCCC;
  font-size: 22px;
  line-height: 40px;
  font-weight: 500;
}
#experience .company .date {
  color: #FFF;
  font-size: 22px;
  line-height: 40px;
  font-weight: 400;
  position: absolute;
  top: 0px;
  right: 0px;
}
#experience .company .role {
  display: block;
  color: #FFF;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  margin: 16px 0 0;
}
#experience .company .tewke {
  background-image: url(images/logo-tewke.png);
}
#experience .company .mews {
  background-image: url(images/logo-mews.png);
}
#experience .company .axonista {
  background-image: url(images/logo-axonista.png);
}
#experience .company .plex {
  background-image: url(images/logo-plex.png);
}
#experience .company .personal {
  background-image: url(images/logo-personal.png);
}

/****************************************************************************************************************************

	REFERENCES

*/
#references .wrapper {
  padding: 80px 40px 80px;
  position: relative;
  overflow: hidden;
}
#references .description {
  width: 46%;
  color: #FFFFFF;
}
#references .description p {
  font-size: 20px;
  line-height: 32px;
  padding-top: 40px;
}
#references .title {
  font-size: 44px;
  border-bottom: 1px solid #fff;
}
#references .colleagues {
  padding: 80px 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: stretch;
}
#references .referal {
  background: #f1f3f1;
  padding: 20px;
  border-radius: 4px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.16));
}
#references .referal p {
  font-size: 18px;
  line-height: 24px;
}
#references .referal h2 {
  padding: 32px 0 0;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
#references .referal h2 span {
  color: #3B82A6;
  font-weight: 400;
  margin: 0 0 0 6px;
}
#references .referal h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 16px;
  width: 80px;
  display: block;
  height: 1px;
  background: #000;
}
#references .clients {
  padding: 160px 0;
}
#references .clients img {
  width: 100%;
}

/****************************************************************************************************************************

	ABOUT

*/
#about .wrapper {
  padding: 80px 40px 480px;
  position: relative;
  overflow: hidden;
}
#about .description {
  width: 46%;
}
#about .description p {
  font-size: 20px;
  line-height: 32px;
  padding-top: 40px;
}
#about .title {
  font-size: 44px;
  border-bottom: 1px solid #000;
}
